.focused {
  color: red
}

.char {
  display: inline
}

.pointer {
  text-align:center; 
  color:red; 
  font-size:24px
}

.content {
  text-align:center; 
  font-size:48px; 
  overflow:auto; 
  white-space:nowrap; 
  overflow:hidden; 
  font-family: Courier, 'Courier New', monospace
}

.done {
  opacity: 0.5
}
